{% extends "layout.html" %}
{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}
{% block inside_header %}
{% endblock %}
{% block content %}
<main class="standard-detail" id="content" role="main">



                    <div class="hgroup">
                        <h1 class="heading-xlarge">
                      <span class="stnName">Financial Services Administrator</span>        </h1>
                        <p class="lede text">Providing administrative support to a financial organisation, to provide a high quality and compliant service.</p>
<a href="proSearch.html" class="findProviders button">Find training providers</a>
                    </div>


            <section class="cat-10 cat">
                <h2 class="heading-large" style="margin-top:0;">Summary of this apprenticeship standard</h2>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Overview of role</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnOverview"><p>Providing administrative support to a financial organisation, to provide a high quality and compliant service. </p>
</div>
                    </div>
                </div>

                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Level</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnLevel">3 (equivalent to A levels at grades A to E)</div>
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Typical length</h2></div>
                    <div class="column-two-thirds">
                        <span class="appFrom">12</span><span class="ifRange"> to </span><span class="appTo">18</span> months
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Entry requirements</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnEntry"><p>Set by employer. Candidates will usually have 1 of the following: </p>
<ul>
<li>level 2 maths and English, ideally as part of 5 GCSEs grades A to C </li>
<li>equivalent qualifications or prior experience</li>
</ul>
</div>
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">What apprentices will learn</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnLearn"><ul>
<li>the financial services market</li>
<li>the financial services regulatory framework</li>
<li>ethics and key principles of the financial advice process</li>
<li>the purpose and technical content of financial services products and services</li>
<li>systems and processes required to carry out the role of financial services administrator</li>
</ul>
</div>
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Qualifications</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnQual"><p>Apprentices will take a range of professional qualifications, as set out in the apprenticeship standard.</p>
<p>Candidates who don’t have English and maths at grace C or above (or equivalent) will have to achieve this level before the end of their apprenticeship</p>
</div>
                    </div>
                </div>
                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Professional 
registration</h2></div>
                    <div class="column-two-thirds">
                        <div class="stnReg"><p>This apprenticeship provides the first step on the pathway to professional membership of the Chartered Insurance Institute, Institute of Financial Services and the Chartered Institute of Securities and Investment. </p>
</div>
                    </div>
                </div>


                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">Documents </h2></div>
                    <div class="column-two-thirds">
                        <div class="panel panel-width-thin">
                            <a href="#" target="_blank">Standard</a>
                            <!--                    <span class="">PDF, 265kb, 3 pages</span>-->
                            <br clear="all">
                            <a href="#" target="_blank">Assessment plan</a>
                            <!--                    <span class="">PDF, 265kb, 3 pages</span>-->
                        </div>
                    </div>
                </div>


                <div class="grid-row attachment-full-width">
                    <div class="column-third">
                        <h2 class="heading-small">End point assessment </h2></div>
                    <div class="column-two-thirds">
                        <p>View a <a href="/sprint/{{sprint}}/assessor/results">list of end point assessment organisations</a> for this standard</p>
                    </div>
                </div>





                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="container shortlist">
                            <br>
                            <a href="proSearch.html" class="findProviders button">Find training providers</a>

                        </div>
                    </div>
                </div>



            </section>
        </main>
{% endblock %}
