{% extends "layout.html" %}
{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}
{% block inside_header %}
{% endblock %}
{% block content %}
<main class="provider-detail-single" id="content" role="main" tabindex="-1">

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge" id="provider-name">
                ACL Essex
            </h1>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-one-third pull-right">
            <div class="panel--contact">
                <h2 class="heading-medium">Contact details</h2>
                <dl>
                            <dt class="apprenticeshipContactTitle">Website:</dt>
        <dd>
            <a href="http://www.essex.gov.uk/adult-learning" rel="external" target="_blank" class="course-link apprenticeshipContact">
ACL Essex website            </a>
        </dd>

                        <dt class="phone-title">Phone number:</dt>
    <dd id="phone" class="phone">03330 139502</dd>

                        <dt class="email-title">Email:</dt>
    <dd id="email" class="email"><a href="mailto:acl.nostoppingme@essex.gov.uk">acl.nostoppingme@essex.gov.uk</a></dd>

                            <dt class="providerContactTitle">Contact page:</dt>
        <dd>
            <a href="http://www.essex.gov.uk/adult-learning" rel="external" target="_blank" class="contact-link providerContact">
contact this training provider            </a>
        </dd>

                        <dt class="training-location-title">Address:</dt>
        <dd id="training-location" class="training-location">
            ACL Chelmsford, Beeches Close, Chelmsford, Essex, CM1 2SB 
        </dd>

                </dl>
            </div>
        </div>
        <div class="column-two-thirds">


                  
         
            <section>
                <h2 class="heading-medium">Provider information</h2>
                <div class="provider-marketing-info">
                    <div class="markdown"><p>ACL Essex is an established apprenticeship provider covering the whole of the county. Linked to Essex County Council we offer high quality apprenticeship programmes that meet the needs of local employers.</p>
<p>Our dedicated and professional team deliver programmes up to and including level 5. We can support new employees and help develop existing staff and managers.</p>
<p>Training is bespoke to your business and will include an element of classroom delivery as part of the programme.</p>
<p>All of our delivery staff have industry experience and a wealth of knowledge in their subject area.</p>
<p>We offer the following apprenticeships: Health &amp; Care, Management, Administration, Supporting Teaching &amp; Learning, Customer Service, Childcare, Accounting, Pharmacy and Hair.</p>

</div>
                </div>
                <dl class="data-list--provider data-list--compact">
                    <dt>Employer satisfaction:</dt>
                    <dd>
                        <div class="rating rating--inline">
                            <span id="employer-satisfaction" class="rating-71">
                                71%
                            </span>
                                    <div class="progress-container">
            <div class="progressbar" style="width: 71%"></div>
        </div>

                        </div>
                    </dd>
                    <dt>Learner satisfaction:</dt>
                    <dd>
                        <div class="rating rating--inline">
                            <span id="learner-satisfaction" class="rating-93">
                                93%
                            </span>
                                    <div class="progress-container">
            <div class="progressbar" style="width: 93%"></div>
        </div>

                        </div>
                            <span class="satisfaction-source font-small">
                                Source: <a href="https://www.gov.uk/government/statistical-data-sets/fe-choices-performance-indicators" target="_blank">Skills Funding Agency FE Choices</a>
                            </span>
                    </dd>

                        <dt class="legal-name-title">Legal trading name:</dt>
    <dd id="legal-name" class="legal-name">ESSEX COUNTY COUNCIL</dd>

                </dl>


                <p class="content-source">
                    Content maintained by ACL Essex
                </p>
            </section>
        </div>
    </div>
    
<section class="courses">


            <h2 class="heading-large">All training courses</h2>
             <div class="course-index">
                 <span title="b">alphabetic</span>
                <a href="#" title="a">category</a>
            </div>
            
            <div class="alpha-index">
                <a href="#" title="a">a</a>
                <span title="b">b</span>
                <a href="#" title="c">c</a>
                <a href="#" title="d">d</a>
                <span title="e">e</span>
                <a href="#" title="f">f</a>
                <a href="#" title="g">g</a>
                <a href="#" title="h">h</a>
                <a href="#" title="i">i</a>
                <a href="#" title="j">j</a>
                <a href="#" title="k">k</a>
                <a href="#" title="l">l</a>
                <a href="#" title="m">m</a>
                <a href="#" title="n">n</a>
                <a href="#" title="o">o</a>
                <a href="#" title="p">p</a>
                <span title="q">q</span>
                <span title="r">r</span>
                <a href="#" title="s">s</a>
                <a href="#" title="t">t</a>
                <span title="u">u</span>
                <span title="v">v</span>
                <a href="#" title="w">w</a>
                <span title="x">x</span>
                <a href="#" title="y">y</a>
                <span title="z">z</span>
                <a href="#" title="#">#</a></div>
            <h5 class="heading-medium">A</h5>
            <details>
                <summary>Accounting, level 2</summary>
                <h1 class="heading-large">Accounting, level 2</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
        
            </details>
            <hr>
            <details>
                <summary>Administration, level 5</summary>
                <h1 class="heading-large">Accounting, level 2</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
        
            </details>
            <hr>
            <details>
                <summary>Administration, level 4</summary>
                <h1 class="heading-large">Accounting, level 2</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
        
            </details>
            <hr>
            <h5 class="heading-medium" style="color: #BFC1C3; display:none;">B</h5>
            <h5 class="heading-medium">C</h5>
            <details>
                <summary>CNC Technician, level 3</summary>
                <h1 class="heading-large">CNC Technician, level 3</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
            </details>
            <hr>
            <h5 class="heading-medium">D</h5>
            <details>
                <summary>Digital Designer Higher Diploma</summary>
                <h1 class="heading-large">Digital Designer Higher Diploma</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
            </details>
            <hr>
            <h5 class="heading-medium" style="color: #BFC1C3; display:none;">E</h5>

            <h5 class="heading-medium">F</h5>
            <details>
                <summary>Fixed assest mangagement, level 3</summary>
                <h1 class="heading-large">Digital Designer Higher Diploma</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
            </details>
            <hr>
                    <h5 class="heading-medium">G</h5>
            <details>
                <summary>Groundsman, level 2</summary>
                <h1 class="heading-large">Digital Designer Higher Diploma</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
            </details>
            <hr>
                    <h5 class="heading-medium">H</h5>
            <details>
                <summary>Homestay Nurse, level 3</summary>
                <h1 class="heading-large">Digital Designer Higher Diploma</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
            </details>
            <hr>
            <h5 class="heading-medium">I</h5>
            <details>
                <summary>Interior Designer, level 3</summary>
                <h1 class="heading-large">Digital Designer Higher Diploma</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
            </details>
            <hr>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">J</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">K</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">L</h5>
            <h5 class="heading-medium">M</h5>
            <details>
                <summary>Manufacturing engineer, level 4</summary>
                <h1 class="heading-large">Digital Designer Higher Diploma</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
            </details>
            <hr>
            <h5 class="heading-medium">N</h5>
            <details>
                <summary>Network engineer</summary>
                <h1 class="heading-large">Digital Designer Higher Diploma</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
            </details>
            <hr>
                                <h5 class="heading-medium" style="color: #BFC1C3; display:none;">O</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">P</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">Q</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">R</h5>
            <h5 class="heading-medium">S</h5>
            <details>
                <summary>Service engineer</summary>
                <h1 class="heading-large">Digital Designer Higher Diploma</h1>
                <p>This apprenticeship has been designed and developed to meet industry needs aligned with high level technological development. Building on a sound foundation of material and scientific understanding the programme delivers high level engagement with latest technology. Balanced phases of learning encompass theoretical understanding with extensive technical and practical learning in the employer’s workplace. Individual development objectives are aligned with both the apprenticeship outcomes and specific employer needs.</p>
            </details>
            <hr>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">T</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">U</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">V</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">W</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">X</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">Y</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">Z</h5>
                    <h5 class="heading-medium" style="color: #BFC1C3; display:none;">Z</h5>

        </section>
  
             
            <div class="survey">
                <h2 class="heading-small">
                    Give us your feedback
                </h2>
                <p>
                    This is a new service and your feedback will help us improve it.<br>
                    Use the link below to take part in a short survey.
                </p>
                <a href="https://www.surveymonkey.co.uk/r/MLTBYNX" target="_blank" class="button">Take the survey</a>
            </div>
            <div class="provider-disclaimer">
                <h3 class="heading-small">Content disclaimer</h3>
                <p>
                    Skills Funding Agency cannot guarantee the accuracy of course information on this site and makes no representations about the quality of any courses which appear on the site. Skills Funding Agency is not liable for any losses suffered as a result of any party relying on the course information provided.
                </p>
            </div>
    
</main><!-- / #content -->
{% endblock %}
