{% extends "layout.html" %}
{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}
{% block inside_header %}
{% endblock %}
{% block content %}
<main class="assessor-detail" id="content" role="main" tabindex="-1">
      <h1 class="heading-xlarge">
            ProQual AB
      </h1>
    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
  
            <p class="text">We have delivered over 8,000 Apprenticeship and NVQ qualifications to learners employed in some of the UK's largest, and most successful organisations. Our clients demand the highest level of service and quality of provision and we consistently deliver success rates in excess of national averages. We deliver flexible programmes on employer premises across the UK.</p>

    </div>
  </div>
      <div class="column-third">
        <aside class="related">
            <h3 class="heading-medium">Details</h3>
            <dl>
                <dt>Website</dt>
                <dd><a href="#" rel="external">training provider website</a></dd>
                <dt>Phone number</dt>
                <dd>0207 340 980</dd>
                <dt>Address</dt>
                <dd>Exhibition House Unit 5, Addison Bridge Place, London, W14 8XP</dd>
            </dl>
          </aside>
      </div>
    </div>
            <h2 class="heading-large">Standards assessed</h2>
            
            <table class="compact" cellspacing="0" width="100%">
           <thead>
              <tr>
                 <th colspan="3">Standard</th>
                 <th colspan="4">Contact</th>
              </tr>
               <tr>
                 <th></th>
                 <th>Name</th>
                 <th class="dt-right">Level</th>
                 <th>Coverage</th>
                 <th>Name</th>
                 <th>Phone</th>
                 <th>E-mail</th>
                 <th>Notes</th>
               </tr>
           </thead>
        </table>
            

</main><!-- / #content -->
{% endblock %}
