{% extends "layout.html" %}
{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}
{% block inside_header %}
{% endblock %}
{% block content %}
<main class="provider-detail-single" id="content" role="main" tabindex="-1">
    <div class="breadcrumbs">
  <ol>
    <li><a href="/sprint/{{sprint}}/index">Home</a></li>
    <li><a href="/sprint/{{sprint}}/provider/results-list.html?levyPayer=1&usrLoc=uk&proName=college">Provider results</a></li>
    <li><a href="/sprint/{{sprint}}/provider/detail-single.html">ACL Basildon</a></li>
      <li aria-current="page">Accounting level 3</li>
    
  </ol>
</div>
                <h1 class="heading-xlarge">
                Accounting
            </h1>
    <div class="grid-row">
        <div class="column-two-thirds">
    <section>
    
            <p>
                This information is taken from an apprenticeship framework. It sets out what qualifications the apprentice can achieve.
            </p>
        <header>
            <h2 class="heading-medium">
                Summary of this apprenticeship framework
            </h2>
        </header>

        <dl class="appDetailsList">
                    <dt>Level</dt>
        <dd id="level">3 (equivalent to A levels at grades A to E)</dd>

                    <dt>Typical length</dt>
        <dd id="length">18 months</dd>

                <dt>Funding cap<br>(from 1 May 2017)</dt>
    <dd id="funding-cap">
        Up to £2,000 per apprentice.<br>
        <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work" target="_blank">More information about funding</a>
    </dd>

            <dt>Entry requirements</dt>
            <dd class="entry-requirements">
                <div>Your chosen training provider can advise you about entry requirements for apprentices.</div>
            </dd>

            <dt>Suitable roles for apprentices</dt>
            <dd class="job-roles">
                    <ul>
                            <li>Assistant Accountant</li>
                            <li>Trainee Accounting Technician</li>
                                            </ul>

                <div>
                    Your chosen training provider can advise you about the kinds of skills apprentices will learn.
                </div>
            </dd>
            <dt>Qualifications</dt>
            <dd>
                <div class="qualifications">


                        <div class="combinedQualification">
                            <p>Apprentices will achieve a practical and theory-based (or 'combined') qualification:</p>
                            <ul>
                                    <li>Advanced Diploma in Accounting - Level 3</li>
                                    <li>Diploma in Financial and Management Accounting</li>

                            </ul>
                        </div>
                </div>

                <p class="qualificationsStatic">Your chosen training provider can advise you about the qualifications open to apprentices as they can change depending on individual and other circumstances.</p>
            </dd>

            <dt>Professional registration</dt>
            <dd>None specified.</dd>
        </dl>

        <div id="bottom-actions">
            <a class="button ui-find-training-providers" rel="nofollow" id="ga-find-provider-bottom" href="https://findapprenticeshiptraining.sfa.bis.gov.uk/Provider/FrameworkResults?PostCode=cm2+6ue&IsLevyPayingEmployer=true&apprenticeshipid=454-2-1&keywords=accountant">
                Search other training providers for this apprenitceship
            </a><br><br>
            <a class="" href="/sprint/{{sprint}}/provider/results-list.html?levyPayer=1&usrLoc=uk&proName=college">Go back to the training proivder results</a>
        </div>
    </section>
        </div>
        <div class="column-one-third">
        <aside id="provider-header">
    <h2 class="bold-medium">ACL Basildon</h2>
            <p>ACL is a Further Education College in the heart of Mid Essex.</p>
            <article class="markdown">
            <p>We currently offer a wide range of Apprenticeships in many different subject areas. These are predominantly at levels 2 and 3 and we have also just started two Higher Apprenticeships at level 4/5.</p>
<p>
We are constantly looking at ways of developing our provision to suit local employment and skills needs. Therefore if you can't find what you are looking for then please contact us for further discussions as we are happy to assist you and your business.</p>
</article>
                <h2 class="heading-medium">Provider apprenticeship details</h2>
<dl class="data-list--provider data-list--compact">
                            <dt class="apprenticeshipContactTitle">Website</dt>
        <dd>
            <a href="http://www.essex.gov.uk/adult-learning" rel="external" target="_blank" class="course-link apprenticeshipContact">
ACL Essex website            </a>
        </dd>

                        <dt class="phone-title">Phone number</dt>
    <dd id="phone" class="phone">03330 139502</dd>

                        <dt class="email-title">Email</dt>
    <dd id="email" class="email"><a href="mailto:acl.nostoppingme@essex.gov.uk">acl.nostoppingme@essex.gov.uk</a></dd>

                            <dt class="providerContactTitle">Contact page</dt>
        <dd>
            <a href="http://www.essex.gov.uk/adult-learning" rel="external" target="_blank" class="contact-link providerContact">
contact this training provider            </a>
        </dd>

                        <dt class="training-location-title">Address</dt>
        <dd id="training-location" class="training-location">
            ACL Chelmsford, Beeches Close, Chelmsford, Essex, CM1 2SB 
        </dd>

                </dl>
            

</aside>
        
        </div>
    </div>


    
</main><!-- / #content -->
{% endblock %}
