{% extends "layout.html" %}
{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}
{% block inside_header %}
{% endblock %}
{% block content %}
<main class="index" id="content" role="main" tabindex="-1">
  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-xlarge">
End point assessors
            </h1>
            <div class="info-summary">
<p>This part of the service isn't available yet. <br>For more information please confer with your researcher regarding this.</p>
                </div>

    </div>
  </div>
</main><!-- / #content -->
{% endblock %}
